@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/type';
@use '@carbon/styles';

body {
  background: var(--cds-background);
  color: var(--cds-text-primary);
}

tab-wrapper {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.cds-tab-panels {
  padding: 1rem;
  background: var(--cds-layer-01);
  border: 1px solid var(--cds-border-subtle-01);
  border-top: none;
}

.cds-tab-panels p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}


